:markdown
  ## Acerca de

  Este sitio ha sido creado por el Equipo de Open Data Canarias, y se enmarca en el proyecto <em>"Acciones de Dinamización de la Plataforma Open Data (OPEN DATA 3)"</em>. Tiene su origen como <em>fork</em> de [Open Data Guide](http://www.opendata.guide) de la ciudad de Filadelfia, en EEUU, y se comparte con la esperanza de que sea de utilidad para las administraciones locales y estatales que deseen iniciar un programa de datos abiertos. La guía completa se puede descargar en formato PDF [aquí](#).

  El propósito original de esta guía es el de proporcionar una orientación práctica a los ayuntamientos de Canarias y más específicamente, de Tenerife, acerca de la publicación o apertura de datos (open data). La guía ha sido elaborada como resultado del análisis de múltiples fuentes realizado por los becarios Open Data 3 de la Fundación General de la ULL; Adrián Muñoz Barrera y Luis Alberto Rubio Rodríguez.

  Para cualquier consulta, mejora, etc. sobre esta guía, puedes ponerte en contacto con nosotros a través de <a href="mailto:info@opendatacanarias.es?Subject=Guía%20Open%20Data" target="_top">info@opendatacanarias.es</a>
