:markdown
  ## Casos de estudio
  
  En Open Data Canarias creemos que es importante establecer unos mínimos conjuntos de datos para todos los ayuntamientos. Esto será muy útil para mejorar el soporte y facilitar la reutilización de los datos por los desarrolladores, que son quienes les aportan verdadero valor con sus aplicaciones.
  
  Como primera tarea de la colaboración entre [RedELTIC](https://redeltic.wordpress.com/) y el Proyecto Open Data Canarias se determinó publicar una serie de conjuntos de datos y elaborar una especificación común en cuanto a estructura, metadatos y formatos.
  
  ### Eventos

  El primero de los conjuntos de datos que se acordó fue el de "Eventos". Este conjunto de datos incluye todos los eventos que tienen lugar en un determinado municipio.
  
  El análisis se centró en un primer lugar en la búsqueda de un formato que permitiera la sindicación de contenidos, como son el Atom y el RSS. Para este conjunto de datos se decidió adoptar el formato Atom, al tratarse de un estándar del [IETF](http://www.ietf.org/), y porque además solventa [algunos problemas](http://nullprogram.com/blog/2013/09/23/) del RSS.
  
  A continuación, puedes observar la estructura básica definida (izquierda) y su representacion en Atom (derecha):

p.imagen
  img(src='./img/redeltic-eventos_estructura-atom.jpg', alt='Estructura básica (izquierda) - Representación Atom (derecha)')

:markdown
  Si deseas consultar la propuesta completa, puedes descargarla en PDF [aquí](#).