:markdown
  ## ¿Por qué publicar datos?

  El objetivo que se persigue con los datos abiertos (open data) es aparentemente sencillo: la publicación de esos datos de forma que puedan ser reutilizados y todo el mundo se pueda beneficiar de ellos para cualquier propósito, incluso con fines lucrativos.
  
  Una de las principales preguntas que se hacen las administraciones cuando se les empieza a hablar de open data es <em>"¿por qué mi Administración debería liberar datos?"</em>. Lo cierto es que liberar datos puede aportar un gran número de beneficios, tanto a tu organización, como a las empresas y al conjunto de los ciudadanos.   

div.beneficios-open-data
  div.row-fluid
    div.span3
      div.panel.panel-rojo
        div.panel-heading Economía
        div.panel-body Origina un crecimiento económico motivado por la comercialización de nuevos productos y servicios alrededor de los datos.
    div.span3
      div.panel.panel-azul
        div.panel-heading Democracia
        div.panel-body Resulta en un incremento del poder de la ciudadanía con el fomento de su participación activa al acercarse a los principios de Gobierno abierto e inteligente.
    div.span3
      div.panel.panel-verde
        div.panel-heading Confianza
        div.panel-body Produce un incremento de la confianza ciudadana y de las empresas motivado por la transparencia de la Administración.
    div.span3
      div.panel.panel-naranja
        div.panel-heading Innovación
        div.panel-body Provoca un fomento de la innovación social motivada por la creatividad, las tecnologías y los recursos públicos.
  div.row-fluid  
    div.span3
      div.panel.panel-malva
        div.panel-heading Ocupación
        div.panel-body Permite la creación de nuevos modelos de negocio y empresas que explotan recursos públicos.
    div.span3
      div.panel.panel-marron
        div.panel-heading Eficacia
        div.panel-body Ocasiona un incremento de la efectividad de los gobiernos al acometer sus compromisos y prestar servicios.
    div.span3
      div.panel.panel-gris
        div.panel-heading Eficiencia
        div.panel-body Reporta un incremento del rendimiento de las administraciones gracias a la interoperabilidad y la calidad del dato.
    div.span3
      div.panel.panel-magenta
        div.panel-heading Colaboración
        div.panel-body Provoca una mejora e incremento en la colaboración entre administraciones públicas, empresas e individuos, lo que se traduce en una mejora del servicio público.      
