:markdown
  ## ¿Cómo publicar datos?
  
  Una vez que has decidido que se deseas emprender una iniciativa Open Data, como organismo debes definir tu estrategia de apertura y reutilización de datos. Elaborar e implementar una buena estrategia te permitirá ofrecer una iniciativa de calidad.

  ### Marco legal
  
  La estrategia debe estar en cumplimiento de las exigencias de la normativa existente, por lo que ha de diseñarse siguiendo las recomendaciones y legislación aplicables a nivel europeo, nacional o regional. 
  
  * Normativa de ámbito comunitario:
    * [Directiva 2003/98/CE](http://www.boe.es/buscar/doc.php?id=DOUE-L-2003-82244)
    * [Directiva 2013/37/UE](http://www.boe.es/diario_boe/txt.php?id=DOUE-L-2013-81251)
  * Normativa de ámbito nacional:
    * [Ley 37/2007](http://www.boe.es/diario_boe/txt.php?id=BOE-A-2007-19814)
    * [Real Decreto 1495/2011](http://www.boe.es/diario_boe/txt.php?id=BOE-A-2011-17560) y su [Guía de aplicación](http://datos.gob.es/sites/default/files/PLANCISP-GRD-07.3.41.pdf) 
  
  ### Decálogo Open Data
  
  El decálogo Open Data, desarrollado en España por la [Comunidad Open Data – RISP España]( http://red.gnoss.com/comunidad/OpenData) define una serie de pautas muy claras sobre cómo han de publicar datos los gobiernos. Se compone de los siguientes principios, los cuales deben guiar todas las estrategias de open data de una Administración Pública:

  0. <u>Armonización entre Administraciones</u>: Todas las iniciativas Open Data deben compartir los mismos principios y definiciones que se listan en el decálogo.
  1. <u>Publicar  datos  en  formatos  abiertos y estándares</u> (no-propietarios) y que sean adecuados para permitir la reutilización de los mismos.
  2. <u>Usar esquemas y vocabularios consensuados</u> y definidos para representar la información, si existieran,  o bien crearlos y exponerlos públicamente.
  3. <u>Inventario  en  un  catálogo  de  datos estructurado</u>, que sirva como punto de consulta y donde se incluya información descriptiva y técnica con estructura común y estándar.
  4. <u>Datos accesibles desde direcciones web persistentes y amigables</u>, que persistan en el tiempo y así evitar que se pierdan las referencias en el futuro.
  5. <u>Exponer un mínimo conjunto de datos relativos al nivel de competencias del organismo  y  su  estrategia  de  exposición  de  datos</u>, donde queden especificadas la prioridades.
  6. <u>Compromiso de servicio, actualización y calidad del dato, manteniendo un canal  eficiente  de  comunicación entre el reutilizador y las Administraciones Públicas</u> que permita una interacción bidirecciónal.
  7. <u>Monitorizar y evaluar el uso y servicio mediante métricas</u>, para analizar si se está cumpliendo el compromiso con la comunidad de reutilizadores.
  8. <u>Datos bajo condiciones de uso no restrictivas  y comunes</u>, que permitan su reutilización libre, incluso para fines comerciales.
  9. <u>Evangelizar  y  educar  en  el  uso  de  datos</u>, tanto a los colectivos de reutilización específicos como a los ciudadanos.
  10. <u>Recopilar  aplicaciones,  herramientas y  manuales  para  motivar  y  facilitar  la reutilización</u> de los datos que se publican.

  En los próximos capítulos de esta guía te daremos una serie de consejos para publicar datos, apoyados en este decálogo.

  ### Figura de líder

  A la hora de implementar políticas de datos abiertos, un paso fundamental es elegir una figura de autoridad que impulse el plan estratégico del proyecto y provea de autoridad hacia abajo cuando ésta haga falta.
  
  Este líder debe tener conocimiento de los datos y de los recursos que se usan en la institución y su elección juega un papel clave en el éxito de una iniciativa de este tipo, ya que éste constituirá el enlace entre la organización y el Equipo de Open Data Canarias.

  Esta figura será el responsable del cumplimiento de las buenas prácticas que se describen en esta guía y de las posibles directrices que puedan ser necesarias para apoyar el programa de apertura de datos.
