:markdown
	## Añadir metadatos

  Si no les decimos a los usuarios de los datos lo que son, cómo se usan, o algo acerca de su actualidad, ¿cómo podemos esperar que los usen de forma efectiva? 
  
  Los metadatos, o información descriptiva sobre los datos, acompañan a los datos proporcionando información adicional para facilitar su localización, clasificación y reutilización. Proporcionar un buen número de metadatos es importante, si bien lo es más hacerlo correctamente. La Norma Técnica de Interoperabilidad de Reutilización de Información del Sector Público (NTI-RISP) especifica cómo hacerlo y los diferentes metadatos que podemos proporcionar:

  table.table-striped
    thead
      tr
        th Conjuntos de datos
      tr
        th Metadatos obligatorios
        th Metadatos recomendados
        th Metadatos opcionales        
    tbody
      tr
        td Nombre
        td Etiqueta(s)
        td Fecha de creación
      tr
        td Descripción
        td Condiciones de uso / licencia
        td Fecha de la última actualización
      tr
        td Temática(s)
        td Organismo
        td Idioma(s)
      tr
        td
        td
        td Cobertura geográfica
      tr
        td
        td
        td Cobertura temporal
      tr
        td
        td
        td Vigencia
      tr
        td
        td        
        td Recursos relacionados
      tr 
        td
        td        
        td Normativa
    tfoot
      tr
        td Tabla extraída de la guía [Cómo publicar datos abiertos de manera rápida y sencilla (con CKAN)](http://datos.gob.es/sites/default/files/guia-publicar-opendata-24h_v05.pdf) de [datos.gob.es](http://datos.gob.es)
        

  table.table-striped        
    thead
      tr
        th Recursos ó distribuciones (archivos o enlaces con los datos)
      tr
        th Metadatos obligatorios
        th Metadatos recomendados
        th Metadatos opcionales
    tbody
      tr
        td URL de acceso
        td Nombre
        td Tamaño
      tr
        td Formato
        td
        td Información sobre formato
    tfoot
      tr
        td Tabla extraída de la guía [Cómo publicar datos abiertos de manera rápida y sencilla (con CKAN)](http://datos.gob.es/sites/default/files/guia-publicar-opendata-24h_v05.pdf) de [datos.gob.es](http://datos.gob.es)

  Si deseas ampliar esta información, puedes consultar el [Anexo III de la NTI Reutilización de recursos de información](http://www.boe.es/boe/dias/2013/03/04/pdfs/BOE-A-2013-2380.pdf) y su [guía de aplicación](http://www.google.es/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&ved=0CCcQFjAB&url=http%3A%2F%2Fadministracionelectronica.gob.es%2Fpae_Home%2Fdms%2Fpae_Home%2Fdocumentos%2FEstrategias%2Fpae_Interoperabilidad_Inicio%2FGuia_de_aplicacion_de_la_Norma_Tecnica_de_Interoperabilidad_de_Reutilizacion_de_recursos_de_informacion%2FGuia_aplicacion_Reutilizacion_recursos_de_informacion.pdf&ei=d1HwVOrmFoGqUJ7vgfAJ&usg=AFQjCNG85JwVt6mOdrwg6HHyqyyEdSIu4Q&sig2=6eLcW7mg9tY2zJtNCUiuYg&bvm=bv.87269000,d.d24&cad=rja).

  