:markdown
  ## ¿Por qué publicar datos?

  El objetivo que se persigue con los datos abiertos (open data) es aparentemente sencillo: la publicación de esos datos de forma que puedan ser reutilizados y todo el mundo se pueda beneficiar de ellos para cualquier propósito, incluso con fines lucrativos.
  
  Una de las principales preguntas que se hacen las administraciones cuando se les empieza a hablar de open data es <em>"¿por qué mi Administración debería liberar datos?"</em>. Lo cierto es que liberar datos puede aportar un gran número de beneficios, tanto a tu organización, como a las empresas y al conjunto de los ciudadanos.

ul.unstyled-indented
  li 
    span.label.label-important ECONOMÍA
    | Origina un crecimiento económico motivado por la comercialización de nuevos productos y servicios alrededor de los datos.
  li 
    span.label.label-dorada DEMOCRACIA
    | Resulta en un incremento del poder de la ciudadanía con el fomento de su participación activa al acercarse a los principios de Gobierno abierto e inteligente.
  li 
    span.label.label-success CONFIANZA
    | Produce un incremento de la confianza ciudadana y de las empresas motivado por la transparencia de la Administración.
  li 
    span.label.label-warning INNOVACIÓN
    | Provoca un fomento de la innovación social motivada por la creatividad, las tecnologías y los recursos públicos.
  li 
    span.label.label-violeta OCUPACIÓN
    | Permite la creación de nuevos modelos de negocio y empresas que explotan recursos públicos.
  li 
    span.label.label-info EFICACIA 
    | Ocasiona un incremento de la efectividad de los gobiernos al acometer sus compromisos y prestar servicios.
  li 
    span.label.label-turquesa EFICIENCIA 
    | Reporta un incremento del rendimiento de las administraciones gracias a la interoperabilidad y la calidad del dato.
  li 
    span.label.label-default COLABORACIÓN
    | Provoca una mejora e incremento en la colaboración entre administraciones públicas, empresas e individuos, lo que se traduce en una mejora del servicio público.
