:markdown
  ## ¿Cómo publicar datos?

  El decálogo Open Data, desarrollado en España por la [Comunidad Open Data – RISP España]( http://red.gnoss.com/comunidad/OpenData) define una serie de pautas sobre cómo han de publicar datos los gobiernos. Se compone de los siguientes principios que deben guiar todas las estrategias de open data de una Administración Pública:

  0. Armonización entre Administraciones: Todas las iniciativas Open Data deben compartir los mismos principios y definiciones que se listan en el decálogo.
  1. Publicar  datos  en  formatos  abiertos y estándares (no-propietarios) y que sean adecuados para permitir la reutilización de los mismos.
  2. Usar esquemas y vocabularios consensuados y definidos para representar la información, si existieran,  o bien crearlos y exponerlos públicamente.
  3. Inventario  en  un  catálogo  de  datos estructurado, que sirva como punto de consulta y donde se incluya información descriptiva y técnica con estructura común y estándar.
  4. Datos accesibles   desde   direcciones web   persistentes   y   amigables, que persistan en el tiempo y así evitar que se pierdan las referencias en el futuro.
  5. Exponer un mínimo conjunto de datos relativos al nivel de competencias del organismo  y  su  estrategia  de  exposición  de  datos.
  6. Compromiso de servicio, actualización y calidad del dato, manteniendo un canal  eficiente  de  comunicación entre el reutilizador y las Administraciones Públicas.
  7. Monitorizar y evaluar el uso y servicio mediante métricas, para analizar si se está cumpliendo el compromiso con la comunidad de reutilizadores.
  8. Datos bajo condiciones de uso no restrictivas  y comunes, que permitan su reutilización libre, incluso para fines comerciales.
  9. Evangelizar  y  educar  en  el  uso  de  datos, tanto a los colectivos de reutilización específicos como a los ciudadanos.
  10. Recopilar  aplicaciones,  herramientas y  manuales  para  motivar  y  facilitar  la reutilización de los datos que se publican.

  En los próximos apartados de esta guía te daremos una serie de consejos para publicar datos, apoyados en este decálogo.
