:markdown
  ## Añadir metadatos

  Si no les indicamos a los usuarios de los datos lo que éstos representan, cómo se usan, o algo acerca de su actualidad, ¿cómo podemos esperar que los usen de manera efectiva? 

  Los metadatos, o información descriptiva sobre los datos, acompañan a los datos proporcionando información adicional para facilitar su localización, clasificación y reutilización. Proporcionar un buen número de metadatos es importante, si bien lo es más hacerlo correctamente. La [Norma Técnica de Interoperabilidad de Reutilización de Información del Sector Público (NTI-RISP)](http://www.boe.es/boe/dias/2013/03/04/pdfs/BOE-A-2013-2380.pdf) especifica cómo hacerlo y los diferentes metadatos que podemos proporcionar, tanto para los conjuntos de datos como para los recursos que los componen:

h3 Conjuntos de datos
table.table.table-striped
  thead
    tr
      th Metadatos obligatorios
      th Metadatos recomendados
      th Metadatos opcionales        
  tbody
    tr
      td Nombre
      td Etiqueta(s)
      td Fecha de creación
    tr
      td Descripción
      td Condiciones de uso / licencia
      td Fecha de la última actualización
    tr
      td
        | Temática(s)
        a(href="http://www.boe.es/boe/dias/2013/03/04/pdfs/BOE-A-2013-2380.pdf", target="_blank", rel="tooltip", data-toggle="tooltip", data-trigger="hover", data-placement="bottom", data-html="true", data-title='Puedes consultar las temáticas permitidas en el Anexo IV de la NTI de Reutilización de recursos de la información') <i class="icon-info-sign"></i>
      td Organismo
      td Idioma(s)
    tr
      td
      td
      td Cobertura geográfica
    tr
      td
      td
      td Cobertura temporal
    tr
      td
      td
      td Vigencia
    tr
      td
      td        
      td Recursos relacionados
    tr 
      td
      td        
      td Normativa

h3 Recursos o distribuciones (archivos o enlaces con los datos)
table.table.table-striped        
  thead
    tr
      th Metadatos obligatorios
      th Metadatos recomendados
      th Metadatos opcionales
  tbody
    tr
      td URL de acceso
      td Nombre
      td Tamaño
    tr
      td Formato
      td
      td Información sobre formato
:markdown
  El contenido de las tablas anteriores ha sido extraído de la guía [Cómo publicar datos abiertos de manera rápida y sencilla (con CKAN)](http://datos.gob.es/sites/default/files/guia-publicar-opendata-24h_v05.pdf) de [datos.gob.es](http://datos.gob.es). Si deseas ampliar esta información, puedes consultar el [Anexo III de la NTI de Reutilización de recursos de la información](http://www.boe.es/boe/dias/2013/03/04/pdfs/BOE-A-2013-2380.pdf) y su [guía de aplicación](http://datos.gob.es/saber-mas?q=node/2676).
