:markdown
	## Identificar conjuntos de datos para la publicación

	El primer paso en la liberación de datos abiertos consiste en identificar qué conjuntos de datos publicar.  La creación de esta lista debería ser un proceso rápido para identificar qué conjuntos de datos pueden ser abiertos. Existen un gran número de métodos sencillos para identificar datos susceptibles de ser liberados:

	### Consultar peticiones de datos e información ya existentes

	Echa un vistazo a las peticiones de información recibidas por tu Administración, ya sean peticiones formales o informales recibidas a través de correo electrónico u otros medios. ¿Tu Administración está en Facebook o en Twitter? Revisa si hay comentarios o tweets acerca de datos que tú podrías hacer que estuvieran disponibles.

	Por otro lado, en la guía [Cómo publicar datos abiertos de manera rápida y sencilla (con CKAN)](http://datos.gob.es/sites/default/files/guia-publicar-opendata-24h_v05.pdf) de [datos.gob.es](http://datos.gob.es) puedes ver un análisis general sobre temáticas de alto interés pertenecientes a diferentes ámbitos de información.

	### Consultar Open Data Canarias

	Echa un vistazo a la [sección de sugerencias de Open Data Canarias](http://www.opendatacanarias.es/sugerencias), donde los ciudadanos pueden aportar ideas para nuevos conjuntos de datos, o bien revisa resultados de encuestas para averiguar qué datos interesan más a los ciudadanos.   

	### Ver qué están haciendo otros

	Gran número de ciudades en [Canarias, España y el mundo](http://datos.fundacionctic.org/sandbox/catalog/faceted/) están liberando datos abiertos para usuarios externos. ¿Qué está buscando la gente de otras ciudades? ¿Qué tipos de datos están liberando los gobiernos? Es probable que, si hay gran demanda de ciertos tipos de datos en otras ciudades, pueda existir una gran demanda también en tu ciudad. Crea una lista con lo básico que están haciendo estas administraciones o ciudades.

	### Preguntar a la comunidad 

	Si quieres descubrir qué datos están buscando los ciudadanos acerca de tu Administración o entidad, una de las mejores maneras de descubrirlo es simplemente preguntando. Ya que éstas son las personas que tendrán acceso y utilizarán los datos, es probable que tengan un mejor entendimiento de cuáles datos podrían ser valiosos. Crea encuestas, solicita comentarios, publica peticiones, crea foros y comunícate con la comunidad por los canales que tengas disponibles para recabar información sobre qué datos liberar.

	### Revisa el sitio web de tu Administración

	Consulta la página web ya existente para tu Administración. ¿Contiene documentos con datos, como informes anuales, resultados financieros, ubicación de las oficinas, etc? ¿Tiene tu sitio web una lista de centros de servicio o una página de búsqueda que permite a los usuarios encontrar un lugar o servicio que se encuentre cerca de ellos? Cualquier aplicación basada en la web que tenga una base de datos detrás – como aquéllas con función de búsqueda – merece ser examinada para identificar datos susceptibles de ser publicados. 

	### Facilidad de publicación

	A veces en lugar de decidir qué datos serían más valiosos, sería más útil averiguar qué datos serían más fáciles de liberar al público. Publicaciones pequeñas y sencillas pueden actuar como el catalizador de grandes cambios de comportamiento en las organizaciones.

	Sin embargo, debes ser cuidadoso con esta aproximación. Podría darse el caso de que estas publicaciones sean de tan poco valor, que no pueda construirse nada a partir de ellas. Si esto ocurre, la fe en todo el proyecto podría verse afectada.
