:markdown
  ## Revisar la completitud y exactitud de los datos

  Cada conjunto de datos públicos varía en completitud y calidad, y antes de liberar datos al público cada Administración debería esforzarse en asegurar que sus datos son lo más exactos, completos y están lo más actualizados posible. Sin embargo, los datos "perfectos" no existen y tomar la perfección como requisito previo para la liberación de datos puede llegar a ser un importante impedimento para el avance del proyecto.

  Al liberar conjuntos de datos, sé explicito acerca de la existencia de limitaciones que se encontraron cuando se preparaban para su liberación y añade información o avisos que ayuden a los consumidores de datos a entender las limitaciones de los mismos, si éste fuera el caso. Ejemplos de esto pueden ser: si los datos están sujetos a revisión o si sólo cubren un período de tiempo limitado. Indicar claramente las limitaciones y salvedades hará que tus datos sean más usables ya que los consumidores tendrán una mejor comprensión de lo que éstos representan. En esta etapa solo debes preocuparte de identificar estas características. En los apartados [Añadir metadatos](chapter5.html) y [Añadir una licencia o términos de uso](chapter6.html) puedes ver cómo especificarlas.
