:markdown
	## ¿Por qué publicar datos?

	El objetivo que se persigue con los datos abiertos (open data) es aparentemente sencillo: la publicación de esos datos de forma que puedan ser reutilizados todo el mundo se pueda beneficiar de ellos para cualquier propósito, incluso con fines lucrativos.
  
  Una de las principales preguntas que se hacen las administraciones cuando se les empieza a hablar de open data es "¿por qué mi Administración debería liberar datos?" Lo cierto es que existen un gran número de razones, tanto prácticas como filosóficas, acerca de por qué liberar datos puede beneficiar a tu institución y a la ciudadanía.
  
  #[span.label.label-default DEMOCRACIA] Liberar datos que han sido recolectados y/o mantenidos durante el ejercicio de la actividad dota de mayor transparencia a la Administración, ayuda a los ciudadanos a estar mejor informados acerca de las operaciones de su gobierno y potencia su participación activa. 
  
  #[span.label.label-primary CONFIANZA] De esta manera, la publicación de los datos que poseen las Administraciones es la mejor forma de generar confianza en las instituciones, gracias tanto a la transparencia que esto aporta al sistema, como a la exposición pública del trabajo en el que se invierten los recursos públicos.

  #[span.label.label-success EFICACIA] Publicar datos también tiene muchos beneficios prácticos para la Administración. La liberación de datos públicos puede ser un método efectivo de responder a las peticiones de la ciudadanía por otros conductos. Una única liberación de datos puede satisfacer múltiples peticiones de información, que si fueran tratadas individualmente y por métodos tradicionales, podrían ser tareas repetitivas y costosas de acometer.

  #[span.label.label-info INNOVACIÓN] Al liberar datos, los gobiernos pueden ayudar a estimular nuevas e innovadoras ideas en la comunidad tecnológica.#[span.label.label-warning OCUPACIÓN] Existe un gran potencial en open data para actuar como el combustible para nuevas soluciones e incluso nuevos modelos de negocio que puedan tratar problemas comunes y desafíos que enfrentan los gobiernos y la ciudadanía. 
  
  #[span.label.label-danger ECONOMÍA] Esto favorece a un crecimiento económico motivado por la comercialización de nuevos productos y servicios.
  
  #[span.label.label-violeta EFICIENCIA] Por último, la liberación de datos tiene el potencial de generar una serie de eficiencias operacionales para el gobierno (costos más bajos y calidad superior). Las barreras burocráticas a menudo impiden el libre flujo de la información dentro del gobierno, por lo que frecuentemente lo que debería ser fácil no lo es.
  
  #[span.label.label-amaroilla COLABORACIÓN] Las iniciativas de datos abiertos mejoran e incrementan la colaboración entre las administraciones. Open data hace que los datos sean visibles – se obvia la necesidad de relaciones especiales o influencia política para obtener los datos. Todas y cualquier persona puede ver qué datos están disponibles para su uso, por lo que se gastan pocos recursos en la búsqueda de los datos y la conexión con sus dueños.
