:markdown
	## Fomentar la reutilización

	Publicar un conjunto de datos para los usuarios no es el final del proceso, sino el principio. Es responsabilidad de la propia institución el mantener adecuadamente los conjuntos de datos y recursos expuestos, y el fomentar la reutilización de los mismos. Este compromiso de mantenimiento y actualización de la información es de vital importancia para el éxito de los proyectos de reutilización. Los miembros de la comunidad reutilizadora son el activo más importante para convertir los datos en valor. Llegar a esta comunidad y participar activamente con ella es un proceso que se llevará a cabo mucho después de haber publicado tus datos.

	Una vez que tus datos han sido publicados en Open Data Canarias, deberías establecer vías de comunicación con los colectivos potencialmente reutilizadores y animarles a realizar el uso de estos recursos. Estos canales de comunicación pueden ser tanto virtuales como físicos. Comienza con anunciarlo en tu sitio web, también puedes crear un artículo, tuitear sobre ello, escribir en la página de Facebook o el blog de tu organización. Te sorprenderás de lo rápido que llegará a los oídos de los interesados si te tomas tu tiempo en publicitar los datos a través de los canales de comunicación habituales.

	La celebración de hackatones y eventos divulgativos suelen producir resultados positivos. Éstas son ocasiones ideales para anunciar la publicación de nuevos datos. Compartir la información y además darle un contexto puede ayudar a los desarrolladores a crear aplicaciones útiles e interesantes.

	Con este objetivo existen diferentes iniciativas a nivel internacional, como [Apps for Europe]( http://www.appsforeurope.eu/) ó [Code for America]( http://www.codeforamerica.org/). Nosotros, en Open Data Canarias, celebramos el Concurso Open Data Canarias, el cual lleva ya dos ediciones, y que premia las mejores ideas (aplicaciones informáticas) de reutilización. Tenemos además en nuestra agenda la celebración de otros eventos divulgativos.
	
	Una vez que has hecho tus datos descubribles en Open Data Canarias y has hecho saber a los ciudadanos que están disponibles, seguramente empezarás a recibir retroalimentación. Es posible que te hagan preguntas acerca de ciertos componentes de tus datos (por ejemplo: cómo se etiqueta un campo específico, o cómo se recopilaron los datos). Siempre que sea posible, intenta capturar las preguntas y respuestas de los usuarios de los datos de manera que puedan ser compartidas con otros y mejorar tu propio mecanismo de publicación.
