:markdown
  ## Publicar los datos

  Un paso importante a la hora de publicar datos consiste en determinar cómo van a estar disponibles. Hasta cierto punto, esta decisión estará basada en el tipo de datos que quieres publicar y el formato en el que se encuentran actualmente, es decir, cómo se usan o cómo son mantenidos internamente.

  ### Fichero descargable

  Si tus datos cambian de manera poco frecuente o son accedidos únicamente de forma periódica, puede ser apropiado liberar esos datos como una descarga estática en un formato común, como CSV. Sin embargo, si tus datos se actualizan con frecuencia, están sujetos a cambios, o están dirigidos a una comunidad de usuarios específica como desarrolladores, sería interesante proporcionar una API para tus datos.

  ### API

  Los datos pueden ser expuestos a través de una Application Programming Interface (API). Estos interfaces se han vuelto muy populares y es el método ideal para hacer que los datos estén disponibles. Las API's típicamente están conectadas a una base de datos que se actualiza en tiempo real. Esto significa que acceder a los datos a través de una API  asegura que éstos siempre estarán actualizados. Con el uso de API's disminuye coste de distribución y también se facilita la interoperabilidad. No obstante, debes tener en cuenta que, como dueño de los datos, eres el encargado de desarrollar y mantener esta API, por lo que este método requiere un compromiso por parte de tu organización.

  ### Open Data Canarias

  [Open Data Canarias](http://www.opendatacanarias.es) es un portal catálogo de datos. Publicar tus datos en este portal hace que éstos sean más descubribles y fáciles de encontrar para aquéllos interesados en usarlos. Este sitio web ya alberga datos de diversos productores de datos de Canarias.
  
  Una vez que tus datos estén listos para ser usados por los consumidores, ya sea como descarga estática o como API, [contacta](http://www.opendatacanarias.es/contacto) con el personal de Open Data Canarias con los detalles de tu publicación para que ésta sea añadida al catálogo del portal. También, puedes [contactar con nosotros](http://www.opendatacanarias.es/contacto), solicitar credenciales de acceso para tu organización y publicar los datos tú mismo siguiendo nuestra [guía del publicador](http://www.opendatacanarias.es/sites/default/files/documento-files/manual-del-publicador-de-datos/manual_del_publicador_de_datos_odc2v1.0.pdf).
  
  El listado de tus datos en Open Data Canarias servirá para comunicar su disponibilidad a los consumidores de datos y otros interesados.
  
  ### Formatos
  
  Con el propósito de hacer lo más fácil posible la reutilización de los datos a los usuarios potenciales, éstos deberían estar disponibles en un formato abierto (no propietario) entendible por máquinas. Esto no solo facilita el procesado y análisis de cada conjunto de datos, sino que además permite la integración de los mismos.
  
  Tim Berners-Lee, el "inventor" de la web y activo participante en el proceso de desarrollo del movimiento Open Data, definió unos niveles por estrellas que tratan de definir cuán reutilizables y abiertos son los datos en función de su formato. Los niveles son los siguientes:

ul.unstyled
  li
    span.stars(title="1 estrella")
      i.icon-star 
      i.icon-star-empty
      i.icon-star-empty
      i.icon-star-empty
      i.icon-star-empty
    span.tab Los datos están disponibles en Internet en cualquier formato, por ejemplo: PDF.
  li
    span.stars(title="2 estrellas")
      i.icon-star 
      i.icon-star
      i.icon-star-empty
      i.icon-star-empty
      i.icon-star-empty        
    span.tab Los datos se publican como datos estructurados, por ejemplo: XLS.
  li
    span.stars(title="3 estrellas")
      i.icon-star 
      i.icon-star
      i.icon-star
      i.icon-star-empty
      i.icon-star-empty       
    span.tab Además, los datos están disponibles en un formato que no sea propietario, por ejemplo: CSV.
  li
    span.stars(title="4 estrellas")
      i.icon-star 
      i.icon-star
      i.icon-star
      i.icon-star
      i.icon-star-empty
    span.tab Se utiliza una URL fija de manera que se pueda apuntar a los datos, por ejemplo: RDF.
  li
    span.stars(title="5 estrellas")
      i.icon-star 
      i.icon-star
      i.icon-star
      i.icon-star
      i.icon-star
    span.tab Vincular los datos con los datos de otras personas/organizaciones/administraciones.

:markdown
  Toda organización que publique datos debería tratar de garantizar publicaciones de, al menos, tres estrellas.
  
  Algunos de los formatos más comunes que utilizan actualmente para la apertura de datos son:
  
ul
  li 
    No estructurados
    span(rel="tooltip", data-toggle="tooltip", data-trigger="hover", data-placement="bottom", data-html="true", data-title='Publicaciones de <span class="stars"><i class="icon-star"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i>') <i class="icon-info-sign"></i>
    |: PDF, DOC, ODS, ZIP.
  li 
    Estructurados
    span(rel="tooltip", data-toggle="tooltip", data-trigger="hover", data-placement="bottom", data-html="true", data-title='Publicaciones de entre <span class="stars"><i class="icon-star"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i> y <span class="stars"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>') <i class="icon-info-sign"></i>
    |: HTML, XLS, XML, CSV (<strong>recomendado</strong>), JSON, RDF.
  li Información geográfica: WMS, KML, SHP, WFS, GML.
:markdown
  La decisión de qué formato utilizar puede estar condicionada por otros factores como la demanda de los potenciales reutilizadores. Es más, siempre que sea posible, lo más recomendable es ofrecer los datos en múltiples formatos para ampliar el público potencial.

  La especificación completa sobre los formatos posibles se puede consultar en la [Norma Técnica de Interoperabilidad del Catálogo de estándares](http://www.boe.es/boe/dias/2012/10/31/pdfs/BOE-A-2012-13501.pdf)
   
