:markdown
	## Añadir una licencia ó términos de uso

	Cada conjunto de datos que se publique debe ir acompañado de información explícita sobre los términos de uso para los usuarios finales. Si los datos están sujetos a restricciones o limitaciones, los términos de uso deberían especificarlos claramente. Este paso es imprescindible incluso cuando no se desee poner ningún tipo de restricción sobre la reutilización de los datos.  Para realizar esta tarea podemos elegir entre:

	### Condiciones de uso

	Establecer unas condiciones de uso sencillas, como las que indica el Real Decreto 1495/2011, de 24 de octubre:

	1. Está prohibido desnaturalizar el sentido de los datos.
	2. Debe citarse la fuente de los datos. 
	3. Debe mencionarse la fecha de la última actualización
	4. No se podrá indicar, insinuar o sugerir que los titulares de los datos participan, patrocinan o apoyan la reutilización que se lleve a cabo.
	5. Deben conservarse y no alterarse los metadatos sobre la actualización y las condiciones de reutilización aplicables.

	### Licencia

	O bien, adoptar una licencia predefinida cuyas características se ajusten a nuestros requerimientos, como por ejemplo Open Data Commons Attribution License 1.0 (ODC-By 1.0). Para más información sobre las licencias, puedes consultar la guía [Cómo publicar datos abiertos de manera rápida y sencilla (con CKAN)](http://datos.gob.es/sites/default/files/guia-publicar-opendata-24h_v05.pdf) de [datos.gob.es](http://datos.gob.es)
