:markdown
	## Llevar a cabo una revisión interna de los datos

  Uno de los más importantes pasos que acometer en la liberación de datos se encuentra dentro de tu propia organización. Es conveniente saber que existen limitaciones a la hora de publicar datos, que se deben respetar:
  
  * Datos restringidos por la ley de protección de datos de carácter personal;
  * Datos sometidos al secreto estadístico;
  * Datos sujetos a la confidencialidad comercial;
  * Datos que afectan a la protección de la seguridad pública;
  * Datos sujetos al derecho de propiedad intelectual o industrial;

  Toda esta información debe ser detectada y filtrada previamente a la publicación de los datos. Por ello, es muy importante que el jefe o encargado de tu organización sea conocedor de la publicación de datos que se planea realizar.
  
  Algunas preguntas que debes hacerte en esta etapa son:
  
  * ¿Has comunicado tu intención de publicar datos a otros miembros de tu organización que podrían verse afectados por el mismo o que puedan proporcionar información valiosa sobre la estructura de los datos antes de ser liberados?
  * ¿El departamento legal de tu organización ha revisado los datos que planeas liberar?
  * ¿Existe alguna restricción acerca de cómo pueden utilizarse los datos (a veces estas restricciones están impuestas por otros niveles de gobierno)?
  * ¿La información que deseas liberar contiene información de carácter personal? ¿El departamento legal de tu oficina ha aprobado la publicación de esta información? ¿Eliminar este tipo de información disminuirá el valor de tus datos para los consumidores?

  Mantener un diálogo de carácter interno con otros miembros de tu organización acerca de los datos previstos para la publicación es un paso previo necesario para la posterior comunicación con los consumidores externos de los datos. Este diálogo además servirá para averiguar las condiciones de uso a la que estará sometida la publicación de datos.
  
  También es una buena idea identificar a través de estos diálogos a las personas en tu organización que poseen información acerca de los datos que deseas liberar. Esto incluye tanto contactos administrativos (que podrán responder a preguntas como: frecuencia de actualización de los datos, de dónde se pueden descargar, etc.) como contactos técnicos (qué significa un campo en un conjunto de datos, etc.), en caso de que éstas sean responsabilidades de otros miembros de la organización.