.content
  .hero-unit
    h1 #{ name }
    p Una guía para las instituciones locales y estatales que deseen empezar a publicar datos abiertos.

    p
      a.btn.btn-primary.btn-large(href="https://github.com/taroull/buenas-practicas") <em>Fork</em> en GitHub &rarr;
  
  hr

  .row-fluid
    .span4
      h3 Identificar
      p Selecciona conjuntos de datos valiosos que sean de interés para los usuarios de datos.
      p: a.btn.btn-small(href="./chapter2.html") Leer más &rarr;
    .span4
      h3 Revisar
      p Establece un proceso para revisar los datos antes de que sean liberados al público.
      p: a.btn.btn-small(href="./chapter4.html") Leer más &rarr;
    .span4
      h3 Fomentar
      p Comunícate con los usuarios de tus datos y anímales a que creen cosas útiles. 
      p: a.btn.btn-small(href="./chapter8.html") Leer más &rarr;