.container-fluid.main-footer.text-center
  hr
  ul.inline
    li &copy; Open Data Canarias 2015 (<em>fork</em> de 
    a(href='http://opendata.guide/') Open Data Guide
    |)
    li 
    | Uso libre bajo 
    a(href='http://creativecommons.org/licenses/by-sa/4.0/') Licencia Creative Commons
    | .