.navbar.navbar-fixed-top.navbar-main
  .navbar-inner
    .container-fluid
      a.brand(href="/bp/") #{ name }
      .pull-right
        ul.nav
          li(class="#{ current.source=='faq'?'active':'' }"): a(href="/bp/about.html") About